.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.left18pxbold{
  font-size: "18";
  font-weight: bold;
  fill: "#ffffff";
  text-length: 40;
}

.middle22pxbold{
  font-size: "22";
  font-weight: bold;
  fill: "#ffffff";
  text-length: 40;
  text-anchor: middle;
}

#dayName {
  text-length: 10;
}

#rowWeatherTime {
  fill: "#ffffff";
  font-size: "15";
  text-length: 5;
  text-anchor: middle;
}

#rowWeatherDegrees {
  fill: "#ffffff";
  font-size: "20";
  text-length: 5;
  text-anchor: middle;
}

#degrees {
  font-size: "20";
  font-weight: bold;
  text-length: 5;
  fill: "#ffffff";
}

#heartratetext {
  font-size: "14";
  font-weight: bold;
  fill: "#ffffff";
  text-anchor: middle;
  text-length: 3;
}

#stepstext {
  font-size: "18";
  font-weight: bold;
  fill: "#ffffff";
  text-anchor: end;
  text-length: 10;
}

#dateText {
  font-size: "18";
  font-weight: bold;
  fill: "#000000";
  text-anchor: middle;
  text-length: 10;
}

#detailsCityName {
  font-size: "20";
  font-weight: bold;
  fill: "#ffffff";
  text-anchor: middle;
  text-length: 32;
}
